﻿<div class="form-control">
    <form @submit.prevent="search">
        <div>
            <div class="form-group">
                <label>Search Name:</label>
                <input type="text" v-model="filter.name" />
            </div>

            <!--search berasarkan gender-->
            <div class="form-group">
                <label>Gender:</label>
                <select class="form-control" v-model="filter.gender" id="genderDropdown">
                    <option v-for="gender in genderOptions">{{gender}}</option>
                </select>
            </div>

            <!--untuk orderby-->
            <div class="form-group">
                <label>OrderBy:</label>
                <select class="form-control" v-model="filter.order" id="orderByDropdown">
                    <option v-for="order in orderOptions">{{order}}</option>
                </select>
            </div>

            <div class="form-check form-check-inline">
                <input type="checkbox" id="isDescending" v-model="filter.iDesc" class="form-check-inline" />
                <label class="form-check-label" for="isDescending">Is Descending?</label>
            </div>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>

    <div class="form-group">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Weight</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="worker in getWorkerGrid.workers" :key="worker.workerId">
                    <th>{{worker.name}}</th>
                    <th>{{worker.weight}}</th>
                    <th v-if="worker.gender == true">Laki-Laki</th>
                    <th v-else>Perempuan</th>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-control">
        <form @submit.prevent="create">
            <div class="form-group">
                <label class="label">Input Name:</label>
                <input type="text" v-model="addWorker.name" />
            </div>

            <div class="form-group">
                <label class="label">Input Weight:</label>
                <input type="number" v-model="addWorker.weight"/>
            </div>

            <div class="form-group">
                <input type="radio" v-model="addWorker.gender" name="L" value="true" />
                <label>Laki-Laki</label>
                <input type="radio" name="P" v-model="addWorker.gender" value="false" />
                <label>Perempuan</label>
            </div>
           
            <div>
                <button type="submit">Add</button>
            </div>
        </form>
    </div>
</div>