﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/ipack.css" rel="stylesheet"/>
</head>
<body>
    <div class="container" id="app">
        @RenderBody()
    </div>

    <script src="~/js/vendor.js"></script>
    <script src="~/js/ipack.dll.js"></script>
    <script src="~/js/ipack.js"></script>
</body>
</html>
